fastapi
uvicorn
pydantic
python-multipart

requests
openai
supabase
numpy
PyJWT[crypto]
cryptography
sentry-sdk[fastapi]

beautifulsoup4

libcst
pyan3
javalang
tree-sitter
tree-sitter-java
tree-sitter-javascript
tree-sitter-typescript

networkx
pydot
pyvis
graphviz

playwright

PyCG @ git+https://github.com/vitsalis/PyCG.git@8d5dc40837803beef1d8d379fbf2cdad6cd94641
