# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment variables
.env

# FastAPI / Uvicorn logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE junk
.vscode/
.idea/

# Build artifacts
dist/
build/

# Render-specific
*.sqlite3